.scroller-2ZPeAD {
    background-color: black
}
.interactive-3B9GmY {
    background-color: black
}
.themed-ANHk51 {
    background-color: black
}
.peopleColumn-29fq28 {
    background-color: black
}
.fade-2kXiP2 {
    background-color: black
}
.themed-ANHk51 {
    background-color: black
}
*{
    color :green!important
}


.none-2Eo-qx {
    background-color: black
}
.container-3baos1 {
    background-color: black
}
.container-1r6BKw {
    background-color: black
}
.themed-ANHk51 {
 background-color: black
     dis
}
.children-19S4PO {
    background-color: black
}
.themed-ANHk51 {
    background-color: black
}
.searchBar-6Kv8R2 {
    background-color: black
}
.auto-Ge5KZx {
    background-color: black
}
.themed-ANHk51 {
    background: black!important
}

.form-2fGMdU {
    background: black
}
.container-3w7J-x {
    background: black

}

.form-2fGMdU {
    background: black
}
.members-1998pB .content-3YMskv {
    background: black
}
.topSection-y3p-D {
    background: black
}
.members-1998pB .content-3YMskv {
    border: 1px solid green
}
.fullscreenOnMobile-1bD22y {
    background: black!important
}
.footer-1dAGh4 {
    background: black!important
}
.footer-2gL1pp {

}
.footer-2gL1pp {
    background: black!important
}
.invoice-28DmWy {
    background: black
}
.invoice-28DmWy {
    border: 1px solid green
}
.header-2V-4Sw {
    background: black
}
.scroller-RmtA4e .content-3YMskv > div {
    background: none
}
.none-2Eo-qx {
    border: 1px solid green
 
}
.invoice-28DmWy {
    border-radius:5px
}
.subtext-24R4-w {
    color green

}
#message-content :hover {
    border :1px solid green!important

}
.quickswitcher-3JagVE {
    background-color: black
}

.resizeHandle-aTgVKr {
    background: #2F3136



}

.contents-2mQqc9:hover {
    background-color: var(--background-modifier-selected);

}
.container-3baos1 {
    border:1px solid green;
        border-radius:10px

}
.panels-j1Uci {
background: black
}
    .listeningAlong-30wH70 {
        border:1px solid green;
        border-radius:10px

    }
    .listeningAlong-30wH70 {
        margin-bottom: 5px
    }
    .themed-ANHk51 {
        border-bottom: 1px solid green
    }

.accountProfileCard-1XCH88 {
    background: black
}
.fieldList-21DyL8 {
    background: black
}
.background-1QDuV2 {
    background: black
}
.accountProfileCard-1XCH88 {
    border:1px solid green

}
.sidebar-CFHs9e {
    border:1px solid green;
border-radius:10px
}
.lookFilled-22uAsw {
    background: black!important;
    border: 1px solid green!important;
border-radius:5px
}
.scrollerBase-289Jih > .listItem-2Ig28I {
    border-bottom: 1px solid green;
    border-radius:20px

}
.none-2Eo-qx {
    border-radius:5px}


auto-Ge5KZx {
    border-left: 1px solid green
}

.auto-Ge5KZx {
    border-left: 1px solid green
}